# Created by .ignore support plugin (hsz.mobi)
/node_modules
/.idea
yarn-error.log
/.phpstorm.meta.php
/wp-content/uploads/*
/wp-content/viewcache/*
/wp-config.php

/vendor
.htaccess
robots.txt
/wp-content/themes/twentynineteen/dist/*
