header {
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  background-color: transparent !important;
}
header .navbar {
  padding-top: 2% !important;
}
header .logo {
  background: url("../images/logo.png");
  background-size: auto;
  width: 184px;
  height: 37px;
}
header .navbar-brand {
  padding-left: 9%;
}
header .menu {
  padding-right: 9% !important;
}
header .nav-link {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF !important;
}

.content {
  border: 1px solid #fff;
  border-width: 0 1px;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50% !important;
}
.content-text {
  margin: 10% 18% 10% 18%;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140.76%;
  opacity: 0.8;
}

.survey {
  font-size: 38px !important;
}

.divider {
  color: white;
  font-size: 30px;
  margin: -0.63em auto -1.02em;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}
.divider button {
  width: 165px;
  height: 50px;
  border: none;
  outline: none;
  background: #931430;
  border-radius: 3px;
  color: white;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.divider:before,
.divider:after {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 0.65em;
  border-bottom: 1px solid #fff;
  margin: 0 4% 0 -55%;
}

.divider:after {
  margin: 0 -55% 0 4%;
}

main .cards {
  margin: 5% 9% 5% 9%;
}
main .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px !important;
}
main .card-wrapper {
  padding: 0 !important;
}
main .card-text {
  margin-bottom: 0 !important;
}
main .article {
  width: 100%;
  height: 211px;
}
main #article-one {
  background: url("../images/article1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main #article-two {
  background: url("../images/article2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main #article-three {
  background: url("../images/article3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main #article-four {
  background: url("../images/article4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main #button1, main #button2, main #button3, main #button4 {
  font-family: Work Sans, monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  margin-top: 15px;
  color: #0067A3;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 25px 0 25px 0;
  background: #2C313A;
  color: white;
  width: 100%;
  margin: 0 !important;
}
.footer .site-date {
  width: 150px;
  margin-left: 10%;
}
.footer-icons {
  margin-right: 10%;
}
.footer i {
  padding-right: 10px;
}

@media (max-width: 991px) {
  .navbar-brand {
    padding-left: 0px !important;
  }

  .content {
    width: 60% !important;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0 !important;
  }

  .content {
    width: 70% !important;
  }
  .content-text {
    margin: 15% 18% 15% 18%;
  }

  .survey {
    font-size: 30px !important;
  }
}
@media (max-width: 575px) {
  .content {
    margin-top: 50px;
    margin-bottom: 100px !important;
  }

  .survey {
    font-size: 25px !important;
  }
}

/*# sourceMappingURL=style.css.map */
